* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body{
    background-image: url(assets/media/Background.png);
    display: grid;
    height: 100vh;
}

.container{
    max-width: 615px;
    max-height: 797px;
}

